.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%
}

.background {
  background-image: url("./bougieBrewsBackground.jpg");
  background-size: cover;
}

.backgroundFadeIn-appear {
  opacity: 0.01;
}

.backgroundFadeIn-appear.backgroundFadeIn-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.title1-appear {
  opacity: 0.01;
}

.title1-appear.title1-appear-active {
  opacity: 1;
  transition: opacity 1300ms ease-in;
}

.title2-appear {
  opacity: 0.01;
}

.title2-appear.title2-appear-active {
  opacity: 1;
  transition: opacity 2800ms ease-in;
}
